/* Styles related to projects section */
@import "../../variables.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  text-align: center;
}

.grid__container {
  margin-top: 50px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  height: 400px;
}






