/* Styles realted to certification section */

.container {
    width: 100%;
    text-align: center;
}

.certificate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.carousel {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    flex: 1;
    display: flex;
    justify-content: center;
}

.prevButton,
.nextButton {
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.nextButton:hover {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
    0% {
      transform: translateX(-8px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
.cards {
    flex: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}