/* Styles related to hero section */
@import "../../variables.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 80px;
  background-color: rgb(31, 31, 31);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 35px;
  font-family: var(--font-roboto);
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 0) 120%);
  -webkit-background-clip: text;
}

.subtitle {
  color: var(--color-subheading);
  text-transform: uppercase;
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}



.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212; 
  background: linear-gradient(
    to right,
    #121212 90%,
    #1a1a1a 15%,
    #1a1a1a 20%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 100%; 
  animation: move 8s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0; /* Change background-position to 40px 0 for vertical movement */
  }
}


.hero__img {
  width: 80%;
  z-index: 1;
  /* border-radius: 50%; */
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.counter span {
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
  color: var(--color-primary);
}

@keyframes increment {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.counter__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.counter #experienceCount,
.counter #projectsCount {
  animation: increment 1s infinite alternate;
}

.count__text {
  color: var(--color-text) !important;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}

.icon {
  color: var(--color-primary);
  font-size: 65px !important;
}

.contact__box {
  display: flex;
  justify-content: space-between;
  width: 40%;
}