/* Styles related to title */

.container {
    margin: 10px 0 30px 0;
}

.title {
    color: var(--color-subheading);
    font-weight: 600 !important;
    text-transform: uppercase;
}

.subtitle {
    color: var(--color-text);
    text-transform: uppercase;
    font-weight: 400;
}