/* Styles related to skills section */
.skills__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
  padding-top: 40px;
  text-align: center;
}

.tabs {
  background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
  width: 80%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55) !important;
}

.tab__button {
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  width: 25%;
  transition: transform 0.3s ease-out;
}

.skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}


.skill__line1 {
  width: calc(50% - 10px);
}

.skill__line2 {
  width: calc(50% - 10px);
  margin-top: 20px;
}

.img {
  object-fit: contain;
  height: 50px;
  width: 50px;
}

.skill__details {
  display: flex;
  width: 70%;
}

.skill__name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--color-text);
}

.skill__value {
  color: var(--color-text);
  font-weight: 500 !important;
}

.progressbar__container {
  width: 70%;
  height: 10px;
  background: linear-gradient(#191c23, #2d3341);
  border-radius: 4px;
}

.progressbar {
  height: 100%;
  border-radius: 4px;
  box-shadow: inset -1px 3px 38px -7px rgba(250, 170, 105, 0.52);
  -webkit-box-shadow: inset -1px 3px 38px -7px rgba(250, 170, 105, 0.52) !important;
  -moz-box-shadow: inset -1px 3px 38px -7px rgba(250, 170, 105, 0.52) !important;
  background: linear-gradient(#FF512F, transparent 0%),
    linear-gradient(90deg, #F09819 51%, #FF512F 100%);
  transition: width 0.5s ease;
}