@import "../../variables.css";

.container {
  position: relative;
  border-radius: 15px;
  padding: 73px;
  margin-top: 100px auto;
  z-index: 1;
}

.title {
  color: var(--color-text);
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.paragraph {
  color: var(--color-subheading);
  padding-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heroImg {
  width: 45%;
  z-index: 1;
  border-radius: 50%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(90deg,
      rgba(165, 215, 232, 0.42) 0%,
      rgba(255, 255, 255, 0) 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 25px;
}

.info {
  color: var(--color-text);
}

.card {
  color: var(--color-text);
  border: 0.5px solid var(--color-primary);
  background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%) !important;
  border-radius: 10px !important;
  width: 80% !important;
  margin-top: 20px;
}

.cardText {
  color: var(--color-text);
}

.boxItems {
  background-color: var(--color-bg);
  border-radius: 50%;
}

.icon {
  color: var(--color-primary);
  width: 30px;

}

.counter span {
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
  color: var(--color-primary);
}

@keyframes increment {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.counterContainer {
  display: flex;
  justify-content: space-around;
}

.aboutDetails {
  height: 90%;
  display: flex;
  align-content: space-around;
}
.counter #experienceCount,
.counter #projectsCount {
  animation: increment 1s infinite alternate;
}

.countText {
  color: var(--color-text) !important;
}
/* Hide the default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkContainer {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  user-select: none;
  align-items: center;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 2.3em;
  width: 2.3em;
  background-color: #ccc;
  border-radius: 50%;
  transition: .4s;
}

.item {
  color: var(--color-text) !important;
  padding-left: 10px;

}

.checkmark:hover {
  box-shadow: inset 17px 17px 16px #b3b3b3,
            inset -17px -17px 16px #ffffff;
}

/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
  box-shadow: none;
  background-color: var(--color-primary);
  transform: rotateX(360deg);
}

.checkContainer input:checked ~ .checkmark:hover {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
  left: 0.96em;
  top: 0.7em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  box-shadow: 0.1em 0.1em 0em 0 rgba(0,0,0,0.3);
  transform: rotate(45deg);
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}

#container {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
  width: 100%;
}

h1 {
  animation: text-shadow 1.5s ease-in-out;
  font-size: 5em;
  font-weight: 900;
  line-height: 1;
  color: white;
}

h1:hover {
  animation-play-state: paused;
}

a {
  color: #024794;
}

a:hover {
  text-decoration: none;
}

@keyframes text-shadow {
  0% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #fb203b, 
          0 0 0 #fefc4b;
  }

  20% {  
      transform: translateY(-1em);
      text-shadow: 
          0 0.125em 0 #0c2ffb, 
          0 0.25em 0 #2cfcfd, 
          0 -0.125em 0 #fb203b, 
          0 -0.25em 0 #fefc4b;
  }

  40% {  
      transform: translateY(0.5em);
      text-shadow: 
          0 -0.0625em 0 #0c2ffb, 
          0 -0.125em 0 #2cfcfd, 
          0 0.0625em 0 #fb203b, 
          0 0.125em 0 #fefc4b;
  }
  
 60% {
      transform: translateY(-0.25em);
      text-shadow: 
          0 0.03125em 0 #0c2ffb, 
          0 0.0625em 0 #2cfcfd, 
          0 -0.03125em 0 #fb203b, 
          0 -0.0625em 0 #fefc4b;
  }

  80% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #fb203b, 
          0 0 0 #fefc4b;
  }

  100% { /* Add this keyframe for 100% completion */
      transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #fb203b, 
          0 0 0 #fefc4b;
  }
}


@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}