/* Styles related to contact section */
@import "../../variables.css";

.container {
  padding-top: 70px;
  text-align: center;
  width: 80%;
  margin: auto;
}

.icon__head {
  color: var(--color-text);
  text-transform: capitalize;
  margin: 50px !important;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: #212121 !important;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60) !important;
  transition: .2s ease-in-out;
  position: relative;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: white !important;
}

.card1:hover .linkedIn {
  color: blueviolet !important;
}

.linkedIn {
  color: var(--color-text);
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: #212121 !important;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60) !important;
  transition: .2s ease-in-out;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: white !important;
}

.card2:hover .github {
  color: black !important;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: #212121 !important;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60) !important;
  transition: .2s ease-in-out;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: white !important;
}

.card3:hover .whatsapp {
  color: #00ff00 !important;
}

.whatsapp {
  color: var(--color-text);
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: #212121 !important;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60) !important;
  transition: .2s ease-in-out;
  position: relative !important;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: white !important;
}

.card4:hover .gmail {
  color: skyblue !important;
}

.gmail {
  color: var(--color-text);
}

.form__card {
  background: var(--color-subheading) !important;
  border-radius: 10px !important;
  padding: 25px 35px;
  border: 5px solid var(--color-primary);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 20px;
}

.input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: rgb(255, 107, 0) 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.input::placeholder {
  color: rgb(170, 170, 170);
}

.input:focus {
  outline: none;
  border-inline: 2px solid rgb(255, 107, 0);
}