/* Styles related to resume */
.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  text-align: center;
}

.title {
  color: var(--color-text);
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
}

.content {
  margin-left: 20px;
}