.card {
    color: var(--color-text);
    border-radius: 10px;
    border-radius: 30px !important;
    background: #212121 !important;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(60, 60, 60) !important;
}

.title {
    color: var(--color-primary);

}

.subtitle {
    color: var(--color-text);
}

.content {
    color: var(--color-text);
}