.card {
    color: var(--color-text);
    border-radius: 10px;
    border-radius: 30px !important;
    background: #212121 !important;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card.animated {
    opacity: 1;
    transform: translateY(0);
  }

.title {
    color: var(--color-primary);

}

.subtitle {
    color: var(--color-text);
}

.content {
    color: var(--color-text);
}