@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    /* Colours */
    --color-text:  #e9dada;
    --color-primary: rgb(255, 107, 0);
    --color-secondary: #FFEFE6;
    --color-bg: rgb(7, 7, 7);
    --color-heading: rgb(16, 16, 16);
    --color-subheading: rgb(96, 96, 96);
    /* rgba(255, 255, 255, 0.65) */

    /* Fonts */
    --font-roboto: 'Roboto', sans-serif;
    --font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


