:root {
    /* Colours */
    --color-text:  #000;
    --color-primary: rgb(255, 107, 0);
    --color-secondary: #FFEFE6;
    --color-bg: #fff;
    --color-heading: rgb(16, 16, 16);
    --color-subheading: rgb(96, 96, 96);
  
    /* Fonts */
    --font-roboto: "sans-serif";
  }